  
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');

body{
    font-family: 'Signika Negative', sans-serif;
}

.parallax1{
    background-image: url("../images/casa1.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url("../images/casa2.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.titulo{
    background: rgba(188, 237, 9, 0.8); /* Black background with 0.5 opacity */
    color: #262626; /* Grey text */
    width: 50%; /* Full width */
    padding: 30px; /* Some padding */

}

.section-1{
    background-color: grey;
    background-size: 100%;
}

.text-section-1{
    padding-left: 300px;
    padding-right: 300px;
}

.navegacion{
    background-color: rgba(188, 237, 9);
    font-size: larger;

}